@import './reset.css';

/* #app {
    min-width: 768px;
} */

/* 滚动条的样式设置 */
/* ::-webkit-scrollbar {
    width: 8px;  
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: thin solid #aaa;
}


::-webkit-scrollbar-thumb {
    background: #AAA;
    border: thin solid gray;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
} */


/* ----------------------------------- 定义mac滚动条样式 ----------------------------------- */
::-webkit-scrollbar {
    width: 4px;
    /* height: 5px; */
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 1px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    background-color: rgba(50, 50, 50, 0.1);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    background-color: rgba(50, 50, 50, 0.3);
}
